.buttons {
  text-decoration: none;
  font-family: pixelmix;
  border-radius: 5px;
  background-color: #ded9c3;
  color: white;
  padding: 14px 25px;
  text-align: center;
  display: inline-block;
  margin: 10px;
}

.config_b {
  width: 690px;
}

.history_b {
  width: 430px;
}

body {
  background-color: #1e1c1d;
}

h2 {
  text-shadow: 1px 1px 2px #1e1c1d;
  font-size: 2em;
  font-weight: 300;
  font-family: "pixellari";
  background-color: #ce3333;
}

h3 {
  text-shadow: 1px 1px 2px #1e1c1d;
  font-size: 1.5em;
  font-weight: 300;
  font-family: "pixellari";
  background-color: #ce3333;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #1e1c1d80;
  display: flex;
  justify-content: center;
  align-items: center;

  overflow-y: auto;
}

#customer_selection_popup {
  border-radius: 10px;
  border: 10px solid #ce3333;

  max-height: 80%;

  text-align: center;
  color: white;
  padding: 20px;
  margin: 20px;
  background-color: #1e1c1de1;

  overflow-y: auto;
}

.stats {
  text-align: left;
}

.stats h3,
.stats p {
  padding-left: 15px;
}

.no_pointer_events {
  pointer-events: none;
}

#customer_selection {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
}

.customer_selection_card {
  border: 5px solid white;
  margin: 10px;
  border-radius: 5px;
}

.pixel_art_selection {
  image-rendering: pixelated;
  width: 100%;
  max-width: 40%;
  height: auto;
  z-index: 1;
}

.customer_img_container {
  pointer-events: none;

  background: linear-gradient(0deg, rgba(206, 51, 51, 0.5) 0%, rgba(30, 28, 29, 0.5) 100%);
  box-shadow: 0px 2px 5px rgb(106, 26, 26);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 200px;
}

#pixel_art_container {
  position: relative;
  margin-left: 25vw;
  height: 50vw;
}

.pixel_art {
  width: 50vw;
  image-rendering: pixelated;
  position: absolute;
  pointer-events: none;
}

.pixel_art_customer {
  image-rendering: pixelated;
  position: absolute;
  top: 25.5vw;
  left: 2vw;
  width: 5.4vw;
}

.pixel_art_customer_second {
  image-rendering: pixelated;
  position: absolute;
  top: 25.5vw;
  left: 2.5vw;
  width: 4.4vw;
}

.enter_sign {
  cursor: pointer;

  image-rendering: pixelated;
  position: absolute;
  top: 20.5vw;
  left: 11.5vw;
  width: 7vw;
}

.blink {
  animation: blink_kf 4s linear infinite both;
  pointer-events: none;
}

@keyframes blink_kf {
  0% {
    opacity: 100%;
  }

  2% {
    opacity: 10%;
  }

  4% {
    opacity: 100%;
  }

  48% {
    opacity: 100%;
  }

  50% {
    opacity: 5%;
  }

  51% {
    opacity: 95%;
  }

  93% {
    opacity: 100%;
  }

  95% {
    opacity: 0%;
  }

  96% {
    opacity: 100%;
  }
}

.hide {
  display: none;
}

/* Hide scrollbar for Chrome, Safari and Opera */
#customer_selection_popup::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
#customer_selection_popup {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@media (max-width: 600px) {
  #pixel_art_container {
    margin-left: 10vw;
    height: 80vw;
  }

  .pixel_art {
    width: 80vw;
  }

  .pixel_art_customer {
    top: 40vw;
    left: 4vw;
    width: 8.5vw;
  }

  .pixel_art_customer_second {
    top: 41vw;
    left: 3.2vw;
    width: 7.2vw;
  }

  .enter_sign {
    top: 31vw;
    left: 18.7vw;
    width: 12.6vw;
  }
}
